@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap");

@font-face{
  font-family: autobahn;
  src: url("https://surrender.tk/fonts/Autobahn.ttf");
}


body{
  margin: 0;
  font-family: "Roboto", sans-serif;
}

nav{
  background: #242424;
  padding: 10px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
nav img{
  width: 50px;
  height: auto;
}
.logoname{
  display: flex;
  align-items: center;
  color: #fff;
}
.logoname .name{
  margin-left: 20px;
  font-size: 20pt;
  font-family: autobahn;
  font-style: uppercase;

}
nav a{
  text-decoration: none !important;
  margin-right: 5px;
  padding: 5px;
  color: #fff;

}
nav a:hover{
  background: #fff;
  color: #242424;
}